<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Potrzebujemy twojej lokalizacji, aby podać dane pogodowe dostosowane dla twojej lokalizacji.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand-Medium.ttf</string>
	</array>
</dict>
</plist>
